<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Create/Update your profile', edit_user_registration_path(current_user.id) %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>