<div class="wide">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-main-page">
      <div class="welcome-text">
        Style <i>at your</i> service
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis nunc et lorem dapibus imperdiet ultricies non purus. Sed sodales justo at posuere tempus. Nullam dolor enim, interdum id magna non</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="meetup-location">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" id="searchTextField" class="form-control" placeholder="Search for...">
      			<span class="input-group-btn">
        			<button class="btn btn-danger" type="button">Search</button>
      			</span>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var options = {componentRestrictions: {country: 'us'}};

    new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>