<div class="wide">

</div>
<div class="meetup-location">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
      			<span class="input-group-btn">
        			<button class="btn btn-danger" type="button">Search</button>
      			</span>
      </div>
    </div>
    <div class="col-lg-4"></div>

  </div>
</div>