<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Username</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
  	
</div>
<div class="meetup-location">
	<form>
        <input type="text" class="form-control" required  placeholder="Input Zipcode">
    	<button type="submit" class="btn btn-primary">Success</button>
     </form>
</div>

<div class="container">
  <div class="text-center">
    <h1>Content</h1>
  </div>
</div><!-- /.container -->